<!-- ngModel kullanımı -->
<!-- input elementlerin value ların bind edilmesi veya value change olduğunda inputa tanımlanan propertylerin değişiminin yönetimi sağlayan bir directive asp-for' a benzeyen bir yapısı var. react daki value={} onChange={} birleşmiş hali -->
<!-- not: ngModel kullanabilmek için uygulamaya FormsModule denilen bir module tanımlaması yapmak gerekiyor.  -->

<br>

<!-- "@angular/forms": "^15.1.0", paketi ile gelir. -->

<!-- firstname propertysini ngModel ile inputa bağlamış oldum -->
<!-- $event ile değişen input değerini yakalarız onuda property eşitleyerek  two way binding  -->
<input [ngModel]="firstname" (ngModelChange)="firstname = $event" placeholder="isim">

<!-- [attribute_name] (eventName) -->
<br>
<!-- [()] hem attribute hemde event binding yapıyoruz yani two way binding yapıyoruz. -->
<input [(ngModel)]="firstname" placeholder="isim giriniz" />

<br>

<input type="checkbox" [(ngModel)]="isMarried" /> Medeni Durum ?
<!-- [ngStyle] attribute directive koşula göre p elementini foreColor rengi değiştirdik. -->
<p [ngStyle]="isMarried ? {'color':'red','background-color':'yellow'}:{'color':'green', 'background-color':'pink'}">
  {{isMarried ? 'Evli':'Bekar'}}
  <!-- ternaryif ile ekran evli yada bekar yazdırdık -->
</p>
<!-- duruma göre style yerine class ile class ekle class çıkar mantıklı çalışıyor -->
<p [ngClass]="isMarried ? 'evli':'bekar'">
  {{isMarried ? 'Evli':'Bekar'}}
</p>

<p>
  FirstName: {{firstname}}
</p>