<!-- sayfalar arasında geçiş yaparken aşağıdaki directive angular routing paketinden gelir aynı react-router-dom paketindeki Outlet dinamik sayfaların app.component içerisine girip çıkmasını sağlar. react tarafında App.tsx dosyasında bunu yönetiyorduk.   -->

<!-- raeact da link tanımlaması <Link to='/about' element={</AttributeDiretivePage>} -->
<!-- routerLink de bir attribute directive sayfalar arası yönlendirme linkleri oluşturmamızı sağlıyor -->
<a [routerLink]="['/attribute-directives']">
  Attribute Directives Sample
</a>
&nbsp;
<a routerLink="/structural-directives">
  Structural Directives Sample
</a>



<router-outlet></router-outlet>